/* CSS for SnacKing */
/* ---------------- */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


* {
	box-sizing: border-box;
	margin: 0%;
	padding: 0%;
}

body {
	background-color: #a32b2b;
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	max-width: 900px;
	margin: 0 auto !important;
	float: none !important;
	text-align: center;
}

.navbar {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	border-radius: 12px 12px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 20px 0px;
	position: top;
}

.logo img {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 85px;
}

.logo img:hover {
	width: 90px;
	transition: .8s;
}

.logo img:not(:hover) {
	width: 85px;
	transition: .8s;
}
.nav-links {
	list-style: none;
	display: flex;
	align-items: center;
}

.nav-links li {
	display: inline;
	margin: 15px;
}

.nav-links li a {
	text-decoration: none;
}

.nav-links li a i {
	color: #ffc400;
	cursor: pointer;
}

.fas:hover {
	color: #ffd000;
	font-size: 35px;
	transition: .8s;
}

#menu-snacking {
	border-radius: 15px;
	max-width: 75%;
	padding: 50px 0px 10px 0px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

footer h4 {
	color: #f05050;
	font-size: 20px;
	text-decoration: none;
}

footer h4 a {
	color: #38d3f2;
	text-decoration: none;
}

footer h4 a:hover {
	color: #72abff;
	font-size: 25px;
	border: 1px solid #3b89ff;
	border-radius: 25px 0px;
	padding: 3px 9px;
	margin-bottom: 5px;
	transition: .8s;
}

footer h4 a:not(:hover) {
	color: #38d3f2;
	font-size: 22px;
	transition: .8s;
}

/* Media Queries */

@media screen (){

}


/* -------------------------------- */
/* Developped by: https://moekis.me */
/* -------------------------------- */
